<ion-view title="Login">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list" ng-submit="signin(user)" ng-model="user">
            <ion-list>
              <h1>{{message}}</h1>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="" ng-model="user.username">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="" ng-model="user.password">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button class="button button-stable button-block ">Log in</button>
            <a ui-sref="signup" class="button button-positive button-clear button-block ">Or create an account</a>
        </form>
          <button class="button button-stable button-block" on-tap="googleSignin()">GOOGLE</button>
          <button on-tap="facebookSignin()">FACEBOOK</button>
          <a href="https://spotz.herokuapp.com/auth/google">GOOGLE ANCHOR</a>
    </ion-content>
</ion-view>
