<ion-view title="Map">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/pHYc2JhNTiytNYaRappZ_images" width="100%" height="auto">
        </div>
        <h1>PARKING INFO</h1>
        <div>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <form class="list"></form>
        <form class="list"></form>
    </ion-content>
</ion-view>