<ion-view title="parking">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list></ion-list>
        <ion-list>
          <!-- <ion-item>x:{{speed.x}}, y:{{speed.y}},   z:{{speed.z}}</ion-item> -->
          <!-- <ion-item>time {{speed.timestamp}} </ion-item> -->
          <ion-item ng-show='parked' style='background-color: red; color: rgba(255,255,255,0.7); text-align: center'>YOU ARE CURRENTLY PARKED</ion-item>
          <ion-item ng-hide='parked' style='background-color: green; color: rgba(255,255,255,0.7); text-align: center'>YOU ARE CURRENTLY DRIVING</ion-item>
          <p ng-show='newSpotAvail'>Thank You for parking with us, We are informing our users that there is a spot available at: {{newSpotAvail}}</p>
        </ion-list>
        <ion-list></ion-list>
        <form class="list">
            <ion-item ng-model='timeToPark' ng-show='timeLeftOnTimer'> Parking Timer: {{timeLeftOnTimer}} 
              <div>
                <button on-touch='resetTimer()' class='button'>Cancel</button>
              </div>
            </ion-item>
            <ion-item ng-hide='timeLeftOnTimer' class="range range-positive">{{timeToPark | formatDuration}}
              <input ng-model='timeToPark' type="range" value="timeToPark" min="0" max="21600000">
              <button on-touch='parkNow(timeToPark)' ng-model='timeToPark' class="button">PARK!</button>
            </ion-item>
        </form>
        <button style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
        </button>
        <ion-item ui-sref="pHOTOUPLOAD">analyze parking sign</ion-item>
    </ion-content>
</ion-view>
