<ion-view title="PHOTO UPLOAD">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
          <img ng-src="{{srcImage}}"/>
        </div>
        <div>
            <p>here we describe the sign data</p>

            <p>blah blah</p>
        </div>
        <div class="button-bar">
            <button class="button button-stable button-block" >Analyze</button>
            <button class="button button-stable button-block ng-click="takePicture()"">Take Photo</button>
            <button class="button button-stable button-block ">Cancel</button>
        </div>
        <div>
            <p>Describe process</p>
        </div>
    </ion-content>
</ion-view>
