<ion-view title="Settings">
    <ion-content overflow-scroll="true" padding="true" class="has-header backgrounds">
	<h1 class='spotz-title'>SPOTZ</h1>
        <button on-tap="toggleForm()" class="button button-stable button-block " style='background-color: #448AFF; font-weight: bold;font-size:20px;color: rgba(255,255,255,0.7); text-align: center; width:100%'>Donate</button>
        <donate-form ng-show="showForm"></donate-form>
        <button on-tap="logout()" class="button button-stable button-block " style='background-color: #448AFF; font-weight: bold;font-size:20px;color: rgba(255,255,255,0.7); text-align: center; width:100%'>Log-out</button>
    </ion-content>
</ion-view>a