<ion-view title="Tabs Controller">
    <ion-tabs class="tabs-stable tabs-icon-top">
        <ion-tab title="Map" icon="ion-map" href="#/page1/page3">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Sign Upload" icon="ion-ios-camera" href="#/page1/page2">
            <ion-nav-view name="tab6"></ion-nav-view>
        </ion-tab>
        <ion-tab title="park" icon="ion-ios-cloud" href="#/page1/page4">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Log-out" icon="ion-log-out">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>